* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('/galaxy.jpg');
}

header {
	display: flex;
	width: 100%;
	height: 300px;
	align-items: center;
	justify-content: center;
}

header > img {
	max-width: 100%;
	height: 100%;
	flex-shrink: 1;
}

.solar-system-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.planets-line {
	position: absolute;
	z-index: -1;
	bottom: 50%;
	width: 100%;
	height: 2px;
	color: white;
	transform: translateY(50%);
}

.planet-card-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.planet-card-component img {
	--base-unit: 1.6vw;

	height: calc(var(--base-unit) * var(--planet-scale));
}

.planets {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.planet-name {
	position: absolute;
	top: 0;
	padding: 10px;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	font-size: 1.5rem;
	font-weight: 800;
}

.missions-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 55px;
	border-radius: 10px;
	color: white;
	gap: 1rem;
}

#missions-title {
	margin: 30px 0;
	color: white;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}

.missions {
	display: flex;
	max-width: 1570px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(0 9 15 / 60%);
	gap: 2rem;
}

.mission-card-component {
	display: flex;
	width: 100%;
	max-width: 500px;
	flex-flow: column wrap;
	border: 1px solid white;
	border-radius: 15px;
	background: rgb(24 26 37 / 50%);
}

.mission-info {
	display: flex;
	width: 100%;
	height: 98px;
	align-items: center;
	padding-right: 30px;
}

.mission-icon {
	width: 18px;
	height: 18px;
	margin-left: 30px;
}

.mission-name {
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	padding: 0 30px;
	border-bottom: 1px solid white;
	font-size: 1.75rem;
	font-weight: 300;
	text-transform: uppercase;
}

.mission-year {
	display: flex;
	width: 40px;
	align-items: center;
	margin-left: 8px;
}

.mission-country, .mission-destination {
	align-items: center;
	margin-left: 8px;
}

@media (width <= 1035px) {
	header {
		height: 150px;
	}

	.mission-name {
		justify-content: center;
		padding: 0 15px;
	}

	.mission-card-component {
		margin: 0 10px;
	}

	.mission-icon {
	margin-left: 15px;
}

.mission-info {
	padding-right: 15px;
}

.mission-country {
	width: 90px;
}
}
